<div class="section">
  <h2 transloco="faq.title">FAQ</h2>

  <h3 transloco="faq.q1.title">What is JoinMe?</h3>
  <p transloco="faq.q1.answer">
    JoinMe is a people-to-people app for spontaneous and planned real-life meetups.
  </p>

  <h3 transloco="faq.q2.title">Do I have to pay to use JoinMe?</h3>
  <p transloco="faq.q2.answer">
    No. We just started, so JoinMe is free right now. We currently use ads and may add paid features later.
  </p>

  <h3 transloco="faq.q3.title">Do I have to share my location?</h3>
  <p transloco="faq.q3.answer">
    Not always. But in spontaneous mode, location is required to find people nearby. Please use this mode in public
    places and disable location when you are not in the mood to meet.
  </p>

  <h3 transloco="faq.q4.title">Can I use spontaneous mode everywhere and anytime?</h3>
  <p transloco="faq.q4.answer">
    Technically yes. But since we are still small, it may not be useful everywhere. We publish weekly meetup
    time-windows in specific Berlin areas, and we update them in the app.
  </p>
</div>
